<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6 form-box">
          <h2 class="text-center">Registration Form</h2>
          <form  [formGroup]="userRecordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" formControlName="name">
                  <label class="error" *ngIf="(isSubmitted|| userRecordForm.get('name')?.touched) && userRecordForm.get('name')?.hasError('required')">Name is Required</label>

              </div>
              <div class="form-group">
                  <label for="pinCode">Pin Code:</label>

                  <input type="number" class="form-control" id="pinCode" name="pinCode" placeholder="Enter pin code" formControlName="pinCode" (input)="onPinCode()">
                  <label class="error" *ngIf="(isSubmitted|| userRecordForm.get('pinCode')?.touched)&& userRecordForm.get('pinCode')?.hasError('required')">PinCode is Required</label>
                  <label class="error" *ngIf=" userRecordForm.get('pinCode')?.touched && (userRecordForm.get('pinCode')?.hasError('pattern')) || isValidPincode ">Enter 6 digit Valid PinCode</label>
              </div>
              <div class="form-group">
                  <label for="city">City:</label>
                  <select class="form-control" id="city" name="city" formControlName="city">
                      <option value="" disabled selected>Select your city</option>
                      <option *ngFor="let city of cityList" [value]="city?.Name">{{city?.Name}}</option>
                    </select>
                    <label class="error" *ngIf="(isSubmitted||userRecordForm.get('city')?.touched)&& userRecordForm.get('city')?.hasError('required')">City is Required</label>
              </div>
              <div class="form-group">
                  <label for="state">State:</label>
                  <select class="form-control" id="state" name="state" formControlName="state">
                      <option value="" disabled selected>Select your state</option>
                      <option *ngFor="let state of stateList" [value]="state">{{state}}</option>
                  </select>
                  <label class="error" *ngIf="(isSubmitted|| userRecordForm.get('state')?.touched)&& userRecordForm.get('state')?.hasError('required')">State is Required</label>

              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
      </div>
  </div>
</div>
<div class="container mt-4">
  <div class="card">
      <div class="card-body" *ngIf="formData">
          <h5 class="card-title">{{formData?.name}}</h5>
          <p class="card-text">123 Main Street</p>
          <p class="card-text">{{formData?.city}}, {{formData?.pinCode}}</p>
          <p class="card-text">{{formData?.state}}</p>
      </div>
  </div>
</div>


